button.menu-btn menu
.menu-test
    button.lng-btn en
    //button.auth-btn auth
    //button.btn-predict predict
    button.btn-thanks1(data-popup="confirmPopup" data-variant="goal") thanks goal
    button.btn-thanks2(data-popup="confirmPopup" data-variant="score") thanks score
    button.unactiveGoal Unactive first goal
    button.tooltip tooltip
    button.btn-confirmed confirmed
    button.btn-zeroBonuses 0 bonuses
    button.btn-zeroBonuses 1 bonus table
    button.btn-after after 1 game

//.guessPage.loading
.guessPage
    //.spinner-overlay
    //    .spinner
    .banner
        .banner__wrapper
            .banner__left
                .banner__title(data-translate="bannerName")
                .banner__fund
                    .banner__fund-top(data-translate="bannerFund")
                    .banner__fund-center(data-translate="bannerPrize")
                    .banner__fund-bottom(data-translate="bannerInsurance")
                a.banner__btn.btn.unauth-msg(data-translate="signBtn" href="/login/" data-promo="guessWin" data-button="authorization_banner")
                button.banner__btn.btn.part-btn.hide.toPredict(data-translate="partBtn" data-promo="guessWin" data-button="takePart_banner")
            .banner__right
                .banner__card.team1
                    .beam
                        picture
                            //source(media="(max-width: 600px)" srcset="img/beam-mob.png")
                            //source(media="(max-width: 1050px)" srcset="img/beam-tab.png")
                            img(src="img/card-bg.png" alt="beam")
                    .card
                        .card__content
                            .card__name(data-translate="team1") Реал Мадридддд
                            .card__stats
                                .card__stats-left.star-4
                                    .card__star
                                    .card__star
                                    .card__star
                                    .card__star
                                    .card__star
                                .card__stats-right
                                    .card__property
                                        .card__property-item(data-translate="cardAtt") att
                                        .card__property-value 56
                                    .card__property
                                        .card__property-item(data-translate="cardMid") mid
                                        .card__property-value 56
                                    .card__property
                                        .card__property-item(data-translate="cardDef") def
                                        .card__property-value 55
                        .card__person
                            picture
                                //source(media="(max-width: 600px)" srcset="img/footballer-team1-mob.png")
                                //source(media="(max-width: 1050px)" srcset="img/footballer-team1-tab.png")
                                img(src="img/team1.png" alt="beam")
                .banner__logo
                    .banner__logo-item.team1
                    .banner__vs.vs(data-translate="vs")
                    .banner__logo-item.team2
                .banner__card.team2
                    .beam
                        picture
                            //source(media="(max-width: 600px)" srcset="img/beam-mob.png")
                            //source(media="(max-width: 1050px)" srcset="img/beam-tab.png")
                            img(src="img/card-bg.png" alt="beam")
                    .card
                        .card__content
                            .card__name(data-translate="team2")
                            .card__stats
                                .card__stats-left.star-3
                                    .card__star
                                    .card__star
                                    .card__star
                                    .card__star
                                    .card__star
                                .card__stats-right
                                    .card__property
                                        .card__property-item(data-translate="cardAtt")
                                        .card__property-value 56
                                    .card__property
                                        .card__property-item(data-translate="cardMid")
                                        .card__property-value 56
                                    .card__property
                                        .card__property-item(data-translate="cardDef")
                                        .card__property-value 55
                        .card__person.delay
                            picture
                                //source(media="(max-width: 600px)" srcset="img/footballer-team1-mob.png")
                                //source(media="(max-width: 1050px)" srcset="img/footballer-team1-tab.png")
                                img(src="img/team2.png" alt="beam")


    .conditions.container(data-translate="conditions")

    .drop.container
        details.dropdown
            summary(data-translate="detailsSummary") Як взяти участь?
            .drop-txt
                .drop-txt-list(data-translate="detailsText")
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conseq
                    p "Lorem ipsum dolor sit amet, co
                    p "Lorem ipsum dolor sit amet, co
                    p "Lorem ipsum dolor sit amet, co
                    p "Lorem ipsum dolor sit amet, co
                    p "Lorem ipsum dolor sit amet, co
                    p "Lorem ipsum dolor sit amet, co
                    p "Lorem ipsum dolor sit amet, co
                    p "Lorem ipsum dolor sit amet, co

    .predict.container#predict
        h2.h2.predict__title(data-translate="predictTitle")
        .predict__tabs
            .predict__tabs-item.score.active
                span.predict__tabs-title(data-translate="predictScore")
            .predict__tabs-item.goal
                span.predict__tabs-title(data-translate="predictGoal")
                span.predict__tabs-tooltip(data-translate="GoalTooltip")
        .predict__wrap
            .predict__content
                .predict__left
                    .predict__left-matchs
                        form
                            .match-select
                                .match-select__label(data-translate="matchSelect")
                                details.dropdown.select
                                    summary.select__summary
                                        span.select__current Реал Мадрид – Бенфіка

                                    .select__menu
                                        label.select__item
                                            input(type="radio" name="match" value="rm-benfica" checked)
                                            span Реал Мадрид – Бенфіка
                                            span 28.02/19:30
                                        label.select__item
                                            input(type="radio" name="match" value="city-inter")
                                            span Ман Сіті – Інтер
                                            span 28.02/19:30
                                        label.select__item
                                            input(type="radio" name="match" value="psg-bayern")
                                            span ПСЖ – ПСЖ
                                            span 28.02/19:30
                                        label.select__item
                                            input(type="radio" name="match" value="psg-bayern")
                                            span Реал Мадрид – РеалРеалРе МадридМадрид
                                            span 28.02/19:30
                                        label.select__item
                                            input(type="radio" name="match" value="psg-bayern")
                                            span Реал Мадрид – Реал МадридМадрид
                                            span 28.02/19:30
                                        label.select__item
                                            input(type="radio" name="match" value="psg-bayern")
                                            span Реал Мадрид – РеалРеалРеал МадридМадрид
                                            span 28.02/19:30
                                        label.select__item
                                            input(type="radio" name="match" value="psg-bayern")
                                            span Реал Мадрид – Реаеалл МадридМадрид
                                            span 28.02/19:30
                                        label.select__item
                                            input(type="radio" name="match" value="psg-bayern")
                                            span Реал Мадрид – Реал МадридМадридМадридМадр
                                            span 28.02/19:30
                                        label.select__item
                                            input(type="radio" name="match" value="psg-bayern")
                                            span Реал Мадрид – Реал МадридМадрид
                                            span 28.02/19:30
                                        label.select__item
                                            input(type="radio" name="match" value="psg-bayern")
                                            span Реал Мадрид – Реал МадридМадрид
                                            span 28.02/19:30
                                        label.select__item
                                            input(type="radio" name="match" value="psg-bayern")
                                            span Реал Мадрид – Реал МадридМадрид

                    .predict__left-date(data-translate="predictDateMatch1")
                    .predict__calc
                        .predict__calc-title(data-translate="predictPopular")
                        .predict__calc-forecasts
                            .predict__calc-forecasts--item #[span 20%] 0-2
                            .predict__calc-forecasts--item #[span 30%] 1-2
                            .predict__calc-forecasts--item #[span 50%] 2-2
                .predict__right
                    // score
                    .predict__container.score(data-match-number="1")
                        .predict__right-title(data-translate="predictDoScorePredict")
                        .predict__right-teams
                            .predict__team.team1
                                .predict__team-logo
                                .predict__team-name(data-translate="team1")
                                .predict__team-control(data-team="team1")
                                    .predict__team-decrease.team1-minus(role="button")
                                    .predict__team-number 0
                                    .predict__team-increase.team1-plus(role="button")
                            .predict__vs(data-translate="vs")
                            .predict__team.team2
                                .predict__team-logo
                                .predict__team-name(data-translate="team2")
                                .predict__team-control(data-team="team2")
                                    .predict__team-decrease.team2-minus(role="button")
                                    .predict__team-number 0
                                    .predict__team-increase.team2-plus(role="button")
                        a.predict__btn.btn.unauth-msg(data-translate="signBtn" href="/login/" data-promo="guessWin" data-button="authorization_banner")
                        button.predict__btn.btn.part-btn.hide(data-translate="partBtn" data-promo="guessWin" data-button="takePart_banner")

                    //goal
                    .predict__container.goal.hide(data-match-number="1")
                        .predict__right-title(data-translate="doGoalPredict")
                        .predict__right-teams
                            .predict__team.team1
                                .predict__team-logo
                                .predict__team-name(data-translate="team1")
                                .predict__radio
                                    input(type="radio", name="сhoice", value="team1", id="radio1")
                                    label(for="radio1")
                            .predict__team.team2
                                .predict__team-logo
                                .predict__team-name(data-translate="team2")
                                .predict__radio
                                    input(type="radio", name="сhoice", value="team2", id="radio2")
                                    label(for="radio2")
                        a.predict__btn.btn.unauth-msg(data-translate="signBtn" href="/login/" data-promo="guessWin" data-button="authorization_banner")
                        button.predict__btn.btn.part-btn.hide(data-translate="partBtn" data-promo="guessWin" data-button="takePart_banner")

        .predict__last
            .predict__last-top
                .predict__last-title(data-translate="lastPredict")
                .predict__last-result.confirmed.hide(data-translate="confirmed")
                .predict__last-result.unconfirmed(data-translate="unconfirmed")
            .predict__last-bottom
                .predict__last-item.score.hide
                    .predict__last-team.team1(data-translate="team1")
                    .predict__last-counter
                        span.scoreTeam1 1
                        .predict__vs.vs(data-translate="vs")
                        span.scoreTeam2 2
                    .predict__last-team.team2(data-translate="team2")
                .predict__last-item.goal
                    .predict__last-goal(data-translate="firstGoal")
                    .predict__last-team.team1(data-translate="team1")

    .bonus.container
        .bonus__left
            .bonus__left-title
                .bonus__left-title-txt(data-translate="yourBonus")
                .bonus__left-title-infoTool
                    span.bonus__left-title-tooltip(data-translate="yourBonus_info")
            .bonus__left-total
                .bonus__left-available(data-translate="availableBonus")
                .bonus__left-number 2 
        .bonus__decor-clip
            .bonus__decor
                .bonus__decor-ball
                    picture
                        source(media="(max-width: 600px)" srcset="img/ball-mob.png")
                        img(src="img/ball-desc.png" alt="ball")
                .bonus__decor-gift
                    picture
                        source(media="(max-width: 600px)" srcset="img/gift-mob.png")
                        img(src="img/gift-desc.png" alt="ball")
                .bonus__decor-cup
                    picture
                        source(media="(max-width: 600px)" srcset="img/cup-mob.png")
                        img(src="img/cup-desc.png" alt="ball")

        .bonus__right
            button.bonus__btn.btn(data-translate="takeBonusBtn" data-popup="bonusPopup")

    .results.container
        h2.h2.results__title(data-translate="results")
        .table
            .table__wrapper
                button.table__arrow.table__arrow--left
                .table__wrapper-viewport
                    .table__tabs
                        .table__tabs-item.active(data-match="1")
                            .table__tabs-team.team1(data-translate="team1")
                            .table__tabs-vs.vs(data-translate="vs") vs
                            .table__tabs-team.team2(data-translate="team2")
                        .table__tabs-item(data-match="2")
                            .table__tabs-team.team1(data-translate="team1")
                            .table__tabs-vs.vs(data-translate="vs") vs
                            .table__tabs-team.team2(data-translate="team2")
                        .table__tabs-item(data-match="3")
                            .table__tabs-team.team1(data-translate="team1")
                            .table__tabs-vs.vs(data-translate="vs") vs
                            .table__tabs-team.team2(data-translate="team2")
                        .table__tabs-item(data-match="4")
                            .table__tabs-team.team1(data-translate="team1")
                            .table__tabs-vs.vs(data-translate="vs") vs
                            .table__tabs-team.team2(data-translate="team2")
                        .table__tabs-item(data-match="4")
                            .table__tabs-team.team1(data-translate="team1")
                            .table__tabs-vs.vs(data-translate="vs") vs
                            .table__tabs-team.team2(data-translate="team2")
                        .table__tabs-item(data-match="4")
                            .table__tabs-team.team1(data-translate="team1")
                            .table__tabs-vs.vs(data-translate="vs") vs
                            .table__tabs-team.team2(data-translate="team2")
                        .table__tabs-item(data-match="4")
                            .table__tabs-team.team1(data-translate="team1")
                            .table__tabs-vs.vs(data-translate="vs") vs
                            .table__tabs-team.team2(data-translate="team2")
                        .table__tabs-item(data-match="4")
                            .table__tabs-team.team1(data-translate="team1")
                            .table__tabs-vs.vs(data-translate="vs") vs
                            .table__tabs-team.team2(data-translate="team2")
                        .table__tabs-item(data-match="4")
                            .table__tabs-team.team1(data-translate="team1")
                            .table__tabs-vs.vs(data-translate="vs") vs
                            .table__tabs-team.team2(data-translate="team2")
                        .table__tabs-item(data-match="4")
                            .table__tabs-team.team1(data-translate="team1")
                            .table__tabs-vs.vs(data-translate="vs") vs
                            .table__tabs-team.team2(data-translate="team2")
                button.table__arrow.table__arrow--right
            script.
                (function(){
                    var vp = document.querySelector('.guessPage .table__wrapper-viewport');
                    var track = document.querySelector('.guessPage .table__tabs');
                    if (vp && track) {
                        var vw = vp.getBoundingClientRect().width;
                        track.style.transform = 'translate3d(' + (vw/2 - 120) + 'px, 0, 0)';
                    }
                })();
            .table__head
                .table__row
                    .table__row-item(data-translate="tablePlayerId")
                    .table__row-item(data-translate="tablePredict")
                    .table__row-item(data-translate="tablePrize")
                    .table__row-item(data-translate="tableBonus")
            .table__scroll
                .table__body#tableOther
                    .table__row.you
                        .table__row-item 0000067
                            span.you(data-translate="you")
                        .table__row-item #[span 1] #[span.vs vs] #[span 2]
                        .table__row-item ************
                        .table__row-item 25 000 ₴
                .table__scroll-inner
                    .table__body#table
                        .table__row
                            .table__row-item 10
                            .table__row-item #[span 1] #[span.vs vs] #[span 2]
                            .table__row-item ************
                            .table__row-item 25 000 ₴
                        .table__row
                            .table__row-item 10
                            .table__row-item #[span 1] #[span.vs vs] #[span 2]
                            .table__row-item ************
                            .table__row-item 25 000 ₴
                        .table__row
                            .table__row-item 10
                            .table__row-item #[span 2] #[span.vs vs] #[span 4]
                            .table__row-item умови не виконані
                            .table__row-item 25 000 ₴
                        .table__row
                            .table__row-item 10
                            .table__row-item #[span 2] #[span.vs vs] #[span 4]
                            .table__row-item умови не виконані
                            .table__row-item 25 000 ₴
                        .table__row
                            .table__row-item 10
                            .table__row-item #[span 2] #[span.vs vs] #[span 4]
                            .table__row-item умови не виконані
                            .table__row-item 25 000 ₴
                        .table__row
                            .table__row-item 10
                            .table__row-item #[span 2] #[span.vs vs] #[span 4]
                            .table__row-item умови не виконані
                            .table__row-item 25 000 ₴
                        .table__row
                            .table__row-item 10
                            .table__row-item #[span 2] #[span.vs vs] #[span 4]
                            .table__row-item умови не виконані
                            .table__row-item 25 000 ₴
                        .table__row
                            .table__row-item 10
                            .table__row-item #[span 2] #[span.vs vs] #[span 4]
                            .table__row-item умови не виконані
                            .table__row-item 25 000 ₴
                        .table__row
                            .table__row-item 10
                            .table__row-item #[span 2] #[span.vs vs] #[span 4]
                            .table__row-item умови не виконані
                            .table__row-item 25 000 ₴
                        .table__row
                            .table__row-item 10
                            .table__row-item #[span 2] #[span.vs vs] #[span 4]
                            .table__row-item умови не виконані
                            .table__row-item 25 000 ₴
                        .table__row
                            .table__row-item 10
                            .table__row-item #[span 2] #[span.vs vs] #[span 4]
                            .table__row-item умови не виконані
                            .table__row-item 25 000 ₴
                        .table__row
                            .table__row-item 10
                            .table__row-item #[span 2] #[span.vs vs] #[span 4]
                            .table__row-item умови не виконані
                            .table__row-item 25 000 ₴
                        .table__row
                            .table__row-item 10
                            .table__row-item #[span 2] #[span.vs vs] #[span 4]
                            .table__row-item умови не виконані
                            .table__row-item 25 000 ₴
                        .table__row
                            .table__row-item 10
                            .table__row-item #[span 2] #[span.vs vs] #[span 4]
                            .table__row-item умови не виконані
                            .table__row-item 25 000 ₴
                        .table__row
                            .table__row-item 10
                            .table__row-item #[span 2] #[span.vs vs] #[span 4]
                            .table__row-item умови не виконані
                            .table__row-item 25 000 ₴

        details.dropdown.summary-rules.rules
            summary(data-translate="rulesDetails").rules Офіційні правила акції «ВГАДАВ – ЗАБРАВ»:
            .drop-txt
                .drop-txt-list(data-translate="rulesDetailsList")
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conseq
                    p "Lorem ipsum dolor sit amet, co
                    p "Lorem ipsum dolor sit amet, co
                    p "Lorem ipsum dolor sit amet, co
                    p "Lorem ipsum dolor sit amet, co
                    p "Lorem ipsum dolor sit amet, co
                    p "Lorem ipsum dolor sit amet, co
                    p "Lorem ipsum dolor sit amet, co
                    p "Lorem ipsum dolor sit amet, co

    .popups._opacity
        .popups__item._confirmPopup.popup(data-popup="confirmPopup")
            .popups__item-close
            .popups__item-title(data-translate="thenks")
            .popups__item-body
                .predict__last-item.score.hide
                    .predict__last-team.team1(data-translate="team1")
                    .predict__last-counter
                        span.scoreTeam1 1
                        .predict__vs.vs(data-translate="vs")
                        span.scoreTeam2 2
                    .predict__last-team.team2(data-translate="team2")
                .predict__last-item.goal
                    .predict__last-goal(data-translate="firstGoal")
                    .predict__last-team.team1(data-translate="team1")
                .popups__item-predict.score.hide
                .popups__item-btn.btn(data-translate="continue")
        .popups__item._bonusPopup.popup(data-popup="bonusPopup")
            .popups__item-close
            .popups__item-body
                ._bonusPopup__title(data-translate="yourBonuses")
                .table
                    .table__head
                        .table__row
                            .table__row-item(data-translate="bonusEvent")
                            .table__row-item(data-translate="bonusDate")
                            .table__row-item(data-translate="bonus")
                            .table__row-item
                    .table__scroll
                        .table__scroll-inner
                            .table__body
                                .table__row
                                    .table__row-item Мілан vs Інтер
                                    .table__row-item 08.03.26
                                    .table__row-item Бонус до 500₴ х1
                                    button.table__claimBtn.btn(data-translate="takeBonusBtn")
                                .table__row
                                    .table__row-item Реал Мадрид vs Бенфіка
                                    .table__row-item 08.03.26
                                    .table__row-item Бонус до 500₴ х1
                                    button.table__claimBtn.btn(data-translate="takeBonusBtn")
                                .table__row
                                    .table__row-item Мілан vs Інтер
                                    .table__row-item 08.03.26
                                    .table__row-item Бонус до 500 ₴ х1
                                    button.table__claimBtn.btn(data-translate="takeBonusBtn")
                                .table__row
                                    .table__row-item Мілан vs Інтер
                                    .table__row-item 08.03.26
                                    .table__row-item Бонус до 500₴ х1
                                    button.table__claimBtn.btn(data-translate="takeBonusBtn")
                                .table__row
                                    .table__row-item Мілан vs Інтер
                                    .table__row-item 08.03.26
                                    .table__row-item Бонус до 500
                                    button.table__claimBtn.btn(data-translate="takeBonusBtn")
                                .table__row
                                    .table__row-item Мілан vs Інтер
                                    .table__row-item 08.03.26
                                    .table__row-item Бонус до 500
                                    button.table__claimBtn.btn(data-translate="takeBonusBtn")
                                .table__row
                                    .table__row-item Мілан vs Інтер
                                    .table__row-item 08.03.26
                                    .table__row-item Бонус до 500
                                    button.table__claimBtn.btn(data-translate="takeBonusBtn")
                                .table__row
                                    .table__row-item Мілан vs Інтер
                                    .table__row-item 08.03.26
                                    .table__row-item Бонус до 500
                                    button.table__claimBtn.btn(data-translate="takeBonusBtn")
                                .table__row
                                    .table__row-item Мілан vs Інтер
                                    .table__row-item 08.03.26
                                    .table__row-item Бонус до 500
                                    button.table__claimBtn.btn(data-translate="takeBonusBtn")
                                .table__row
                                    .table__row-item Мілан vs Інтер
                                    .table__row-item 08.03.26
                                    .table__row-item Бонус до 500
                                    button.table__claimBtn.btn(data-translate="takeBonusBtn")
                                .table__row
                                    .table__row-item Мілан vs Інтер
                                    .table__row-item 08.03.26
                                    .table__row-item Бонус до 500
                                    button.table__claimBtn.btn(data-translate="takeBonusBtn")
                                .table__row
                                    .table__row-item Мілан vs Інтер
                                    .table__row-item 08.03.26
                                    .table__row-item Бонус до 500
                                    button.table__claimBtn.btn(data-translate="takeBonusBtn")
                                .table__row
                                    .table__row-item Мілан vs Інтер
                                    .table__row-item 08.03.26
                                    .table__row-item Бонус до 500
                                    button.table__claimBtn.btn(data-translate="takeBonusBtn")
                                //.table__row
                                //    .table__row-item Мілан vs Інтер
                                //    .table__row-item 08.03.26
                                //    .table__row-item Бонус до 500 ₴ х1
                                //    button.table__claimBtn.btn(data-translate="takeBonusBtn") ЗАБРАТИ
                                //.table__row
                                //    .table__row-item Мілан vs Інтер
                                //    .table__row-item 08.03.26
                                //    .table__row-item Бонус до 500₴ х1
                                //    button.table__claimBtn.btn(data-translate="takeBonusBtn") ЗАБРАТИ
                                //.table__row
                                //    .table__row-item Мілан vs Інтер
                                //    .table__row-item 08.03.26
                                //    .table__row-item Бонус до 500₴ х1
                                //    button.table__claimBtn.btn(data-translate="takeBonusBtn") ЗАБРАТИ
                                //.table__row
                                //    .table__row-item Мілан vs Інтер
                                //    .table__row-item 08.03.26
                                //    .table__row-item Бонус до 500 ₴ х1
                                //    button.table__claimBtn.btn(data-translate="takeBonusBtn") ЗАБРАТИ
                                //.table__row
                                //    .table__row-item Мілан vs Інтер
                                //    .table__row-item 08.03.26
                                //    .table__row-item Бонус до 500 ₴ х1
                                //    button.table__claimBtn.btn(data-translate="takeBonusBtn") ЗАБРАТИ
                                //.table__row
                                //    .table__row-item Мілан vs Інтер
                                //    .table__row-item 08.03.26
                                //    .table__row-item Бонус до 500 ₴ х1
                                //    button.table__claimBtn.btn(data-translate="takeBonusBtn") ЗАБРАТИ
                                //.table__row
                                //    .table__row-item Мілан vs Інтер
                                //    .table__row-item 08.03.26
                                //    .table__row-item Бонус до 500 ₴ х1
                                //    button.table__claimBtn.btn(data-translate="takeBonusBtn") ЗАБРАТИ
